.container{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img{
  max-width: 100%;
}


.myimage{
  aspect-ratio: 21/9;
  object-fit: cover;
  display: none;
}

.title{
  display: none;
}
.text{
  display: none;
}


.second-image{
 position: absolute;
 right: -20%;
 top: 0;
}

.second-image img{
  width: 200px;
  height: 86px;
  object-fit: cover;
  display: block;
}

.principal__word{
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
  color: white;
}


.icon-up{
  position: absolute;
  top: 0;
  right: -10%;
  color: black;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
}

.icon-down{
  position: absolute;
  bottom: 0;
  right: -10%;
  color: black;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
}

.active{
  display: block;
}